<div class="card bg-color-white">
  <div class="card-content">
    <md-radio-group [(ngModel)]="slot.transaction.paymentMethod">
      <md-radio-button *ngFor="let pm of slot.transaction.paymentMethods" [value]="pm.pm" class="d-block"><span [innerHTML]="getPaymentMethodCaption(pm.pm)"></span></md-radio-button>
    </md-radio-group>
  </div>
  <div class="card-action">
    <form *ngIf="slot.transaction.paymentMethod != 'invoice'" ngNoForm class="d-inline-block" method="post" [action]="url">
      <input *ngFor="let param of formParams" type="hidden" [name]="param.name" [value]="param.value">

      <input type="hidden" name="SHASIGN" [value]="createSHASign()">

      <button md-raised-button id="submit" class="btn-lg" type="submit">
        Pay now <small>({{slot.transaction.formattedAmount}})</small>
      </button>
    </form>
    <span *ngIf="slot.transaction.paymentMethod === 'invoice'">
      <div class="mb-2">Use the button above to download the invoice and</div>
      <button md-raised-button color="accent" [routerLink]="['success']" [queryParams]="{PM: 'invoice'}">Confirm your payment</button>
    </span>
    <span class="ml-2">By clicking here I agree to <a href="#">BandPay's terms of use.</a></span>
  </div>
</div>

<!--  <pre>{{slot.transaction | json}}</pre>  -->
