#hero {
  background-color: #333C44;
}

.page-about .hero.hero-bg-img {
	background-color: #333C44;
	
}

.page-about .hero .hero-inner {
	background-color: rgba(0,0,0,0);
	
}

.hero-inner {
	margin-bottom: -200px;
	
}

.homepage-startnow {
	background-color: #54B4C8;
	width: 180px;
	
}

.padded {
	padding-left: 30px;
	padding-right: 30px;
}

.color-blue-bag {
	color: #5EC8DD !important;
}

.padded-row {
	padding-left: 80px;
	padding-right: 80px;
	
}

.centered-row {

	margin: 0 auto;
}

.deine-vorteile {
	display: block;
	clear: both;
	margin: 0 auto !important;
}

@media screen and (min-width: 1200px)
{
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 992px)
{
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 30%;
    margin: 0 auto;
  }
}

#stat-text1, #stat-text2, #stat-text3  {
	
	font-size: 50px;
}

#toplinks {
	text-align: right;
}




	



