<section class="page-about chapter">
  
  <div class="container-fluid with-maxwidth">
    <article class="article">
      <div class="box box-default">
        <div class="box-body">
          <div class="call-to-action cta-inline">
            <div class="cta-inner">
              <span id="toplinks" class="cta-text">
                <a class="cta-text" href="#how-it-works">{{ 'HOW IT WORKS' | translate }}</a> 
                <a class="cta-text" href="#prices">{{ 'PRICE' | translate }}</a> 
                <a class="cta-text" href="#testimonials"> {{ 'TESTIMONIALS' | translate }}</a> 
                <a class="cta-text" href="#about">{{ 'ABOUT' | translate }}</a>
              </span>
            </div>
          </div>
        </div>
      </div> 
    </article>
  </div>
  
  <section id="hero" class="hero hero-bg-img" style="height: 760px; background-image: url(assets/images/background/3_black_wide.png)">
    <div class="hero-inner">
      <div class="hero-content">
        <h1 class="hero-title">{{ "SEND A BOOKING CONFIRMATION IN 2 MINUTES" | translate }}</h1>
      </div>
      <p class="hero-tagline">{{ "WE WILL TAKE CARE OF THE MONEY COLLECTION ON YOUR BEHALF AND GIVE YOU AND YOUR CUSTOMER A SECURE DEAL." | translate }}</p>
      <button md-raised-button class="homepage-startnow" color="primary" (click)="go();">{{ "START NOW" | translate }}</button>
    </div>
    
  </section>
  
  <section class="container-fluid no-breadcrumbs chapter">
  <div class="container-fluid with-maxwidth">
    <article class="article">
      <div class="row stat-container">
        <div class="col-md-4">
          <section class="stat-item">
            <span id="stat-text1" class="stat-num">1'500</span>
            <span class="stat-desc">{{ "ENTERTAINERS" | translate }}</span>
          </section>
          <p>Necessitatibus eaque, deleniti error in quam fuga et nisi facere dolore excepturi accusamus dicta reprehenderit dolor. Quo necessitatibus possimus ipsam, nesciunt aspernatur ex libero asperiores, debitis minus nostrum odio. Sunt dolore, dolorem id, iusto quia est unde a doloribus doloremque quisquam repellat nobis enim ipsam eligendi perspiciatis, provident eos aliquid. </p>
        </div>
        <div class="col-md-4">
          <section class="stat-item">
            <span id="stat-text2" class="stat-num">10'000+</span>
            <span class="stat-desc">{{ "SATISFIED CLIENTS" | translate }}</span>
          </section>
          <p>Tempore adipisci ea accusamus odit consequuntur! Quaerat quos nemo qui ipsam accusantium, nostrum error nesciunt quibusdam velit tempore odit deleniti animi laborum sequi saepe minima atque! Nobis repellendus quos voluptatum sapiente, eveniet aliquid ex eum explicabo soluta delectus officia, dolore aspernatur, dicta nam placeat nostrum aliquam magni? Iste, hic, mollitia.  </p>
        </div>
        <div class="col-md-4">
          <section class="stat-item">
            <span id="stat-text3" class="stat-num">>2 Millions CHF</span>
            <span class="stat-desc">{{ "CACHET PAID TO OUT ENTERTAINERS" | translate }}</span>
          </section>
          <p>Nostrum, laudantium minima nam dolorum quasi, ut sunt, dolore ratione suscipit sequi vero ducimus earum praesentium odit aut amet voluptates, sint doloribus omnis. Dignissimos, similique neque praesentium mollitia, libero delectus in adipisci ex nihil laborum iure quaerat magnam obcaecati repellendus exercitationem explicabo! Eum, ut voluptatum sapiente dignissimos unde quae eos quis mollitia, voluptate, dolores excepturi? </p>
        </div>
      </div>
    </article>
  </div>
  </section>
  
  <div id="how-it-works" class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
      <div class="ibox-center deine-vorteile"><h4>{{ "HOW IT WORKS" | translate }}</h4></div>
  </div>
  
  <section class="container-fluid no-breadcrumbs chapter">
  
  <div class="feature-callout feature-content-right card-white image-pull clearfix">
    <div class="container-fluid with-maxwidth">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="callout-feature-content">
          <h2>Aarchitecto odit fuga facere</h2>
          <p>Culpa eveniet labore cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti inventore consequuntur quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum quisquam laboriosam</p>
          <button md-raised-button color="accent" class="btn-lg no-margin" (click)="go();">Try it Now</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 feature-callout-image-pull" style="background-image: url(assets/images/fiori.jpg); background-position: center"></div>
  </div>

  <div class="feature-callout feature-content-left card-white image-pull clearfix">
    <div class="container-fluid with-maxwidth">
      <div class="col-12 col-md-6">
        <div class="callout-feature-content">
          <h2>Commodi molestiae, culpa eveniet</h2>
          <p>Culpa eveniet labore cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti inventore consequuntur quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum quisquam laboriosam</p>
          <button md-raised-button color="accent" class="btn-lg no-margin">Try it Now</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-6 feature-callout-image-pull" style="background-image: url(assets/images/coffee1.jpg); background-position: center"></div>
  </div>
  
  <div class="feature-callout feature-content-right card-white image-pull clearfix">
    <div class="container-fluid with-maxwidth">
      <div class="col-12 col-md-6 offset-md-6">
        <div class="callout-feature-content">
          <h2>Aarchitecto odit fuga facere</h2>
          <p>Culpa eveniet labore cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti inventore consequuntur quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum quisquam laboriosam</p>
          <button md-raised-button color="accent" class="btn-lg no-margin">Try it Now</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 feature-callout-image-pull" style="background-image: url(assets/images/coffee2.jpg); background-position: center"></div>
  </div>
  
  </section>
  
  <div class="container-fluid with-maxwidth">
    <article class="article">
      <div class="box box-default">
        <div class="box-body">
          <div class="call-to-action cta-inline">
            <div class="cta-inner">
              <span class="cta-text">{{ "IT IS MUCH EASIER TO TRY TO SEND YOUR FIRST MOMENT TO PAY" | translate }}</span>
              <div class="cta-btn">
                <button md-raised-button color="accent" class="btn-w-md">{{ "REQUEST A PAYMENT" | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </article>
  </div>
  
  
  <div class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
    <div class="ibox-center deine-vorteile"><h4>DEINE VORTEILE</h4></div>
  </div>
  
  <section class="container-fluid no-breadcrumbs chapter">
  
  <div class="row padded-row" style="background-color: #F7F7F7;">
    
    <div class="col-xl-4 padded">
        <div class="icon-box ibox-center ibox-plain">
          <div class="ibox-icon">
            <a href="javascript:;"><i class="material-icons color-blue-bag">phonelink</i></a>
          </div>
          <h3>ZUVERLÄSSIGKEIT & SICHERHEIT</h3>
          <p>Lass unser Support-Team sich um Deine Probleme kümmern und vergiss alle Sorgen mit unserem sicheren Zahlungsverkehr</p>
        </div>
    </div>
  
    <div class="col-xl-4 padded">
        <div class="icon-box ibox-center ibox-plain">
          <div class="ibox-icon color-blue-bag">
            <a href="javascript:;"><i class="material-icons color-blue-bag">card_travel</i></a>
          </div>
          <h3>{{ "ADMINISTRATIVE WORK MADE EASY" | translate }}</h3>
          <p>Wir machen es einfacher mehrere Bookings zu managen, für ein oder mehrere Deiner Unterhaltung-Projekten.</p>
        </div>
    </div>
  
    <div class="col-xl-4 padded">
        <div class="icon-box ibox-center ibox-plain">
          <div class="ibox-icon">
            <a href="javascript:;"><i class="material-icons color-blue-bag">desktop_mac</i></a>
          </div>
          <h3>SICHERE BOOKINGS</h3>
          <p>Dank den Stornierungsbedingungen, die Du zur Verfügung hast und der Vorauszahlung des Veranstalters garantieren wir Dir. Die notwendige Sicherheit, falls Probleme entstehen und eine rasche Überweisung Deines Cachets.</p>
        </div>
    </div>
    
  </div>
  </section>
  
  <div id="testimonials" class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
      <div class="ibox-center deine-vorteile"><h4>{{ "TESTIMONIALS" | translate }}</h4></div>
  </div>
  
  <section class="container-fluid no-breadcrumbs chapter">
    <div class="row padded-row" style="background-color: #F7F7F7;">
      <testimonials class="centered-row"></testimonials>
    </div>
  </section>
  
  <div class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
      <div class="ibox-center deine-vorteile"><h4>{{ "PRICING" | translate }}</h4></div>
  </div>
  
  <section id="prices" class="container-fluid no-breadcrumbs chapter">
    <div class="row">
      <div class="col-lg-6">
        <section class="pricing-table pricing-table-primary">
          <header><h2>{{ "STARTER PRICE" | translate }}</h2></header>
          <p class="pricing-price"><span class="pricing-sign"></span>3.9%</p>
          <div class="pricing-plan-details">
            <p class="pricing-lead">{{ "INCLUDING" | translate }}</p>
            <ul>
              <li>{{ "SUPPORT" | translate }}</li>
              <li>{{ "UNLIMITED BOOKING" | translate }}</li>
              <li>Up to 20'000 CHF/year</li>
              <li>{{ "OFFICIAL REVIEWS COLLECTION" | translate }}</li>
            </ul>              
          </div>
          <footer><button md-raised-button color="primary" class="btn-w-lg">{{ "START NOW" | translate }}</button></footer>
        </section>
      </div>
    
      <div class="col-lg-6">
          <section class="pricing-table pricing-table-success">
              <header><h2>{{ "BEST SELLERS" | translate }}</h2></header>
              <p class="pricing-price"><span class="pricing-sign"></span>{{ "ON DEMAND" | translate }}</p>
              <div class="pricing-plan-details">
                <p class="pricing-lead">{{ "INCLUDING" | translate}}</p>
                <ul>
                  <li>{{ "SUPPORT" | translate }}</li>
                  <li>{{ "UNLIMITED BOOKING" | translate }}</li>
                  <li>over 20'000 CHF/year</li>
                  <li>{{ "OFFICIAL REVIEWS COLLECTION" | translate }}</li>
                </ul>              
              </div>
              <footer><button md-raised-button color="accent" class="btn-w-lg">{{ "ASK AN OFFER" | translate }}</button></footer>
          </section>
      </div>
    </div>
      
  </section>
  
  <div class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
      <div class="ibox-center deine-vorteile"><h4>FAQs</h4></div>
  </div>
  
  <div class="row padded-row" style="width: 100%; background-color: #F7F7F7; margin: 0 auto;">
      <div class="ibox-center deine-vorteile"><h4>Frequently asked questions</h4></div>
  </div>
  
  <section class="page-faq container-fluid no-breadcrumbs chapter">

  
  <article class="article padding-lg-v article-dark article-bordered">
    <div class="container-fluid with-maxwidth">
      <div class="row">
        <div class="col-xl-6">
          <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h4>
          <p>BEligendi amet quam inventore nam nostrum quaerat aliquam enim dicta illo laboriosam, quia odio voluptas animi consequatur non nemo deleniti, illum tempore assumenda reprehenderit corporis vel impedit nihil earum. Voluptas explicabo voluptatem iste libero officia cum voluptate, qui laboriosam atque.</p>
          <div class="divider divider-xl divider-dashed"></div>

          <h4>Doloribus dolores, officia voluptatibus deserunt ratione debitis laboriosam?</h4>
          <p>Ut tempora, ad eos. Eveniet asperiores quaerat cupiditate quo, possimus officiis deserunt porro dolor mollitia iure minima id incidunt facilis accusamus ea quod perferendis veniam quas, et distinctio dolores corporis magni sapiente hic. Non saepe, veritatis, molestias debitis illum, quasi optio modi numquam harum repellat dolorem, velit blanditiis aliquid eveniet iusto! Sed reiciendis, tempora ex dolor fugiat temporibus, iste!</p>
          <div class="divider divider-xl divider-dashed"></div>

          <h4>Illo recusandae beatae facilis?</h4>
          <p>Facere quo corporis distinctio recusandae pariatur possimus veniam ipsa assumenda autem, qui laborum molestias, magnam sed, voluptas optio illo. Illo, minima officia, labore ipsa fugiat, cum magnam ad error, nobis placeat suscipit? Enim magni delectus, sit, deserunt, repudiandae ratione hic et, libero nemo doloremque numquam quibusdam obcaecati pariatur dolorem.</p>
          <div class="divider divider-xl divider-dashed"></div>

          <h4>Quidem doloribus, repudiandae?</h4>
          <p>Veniam optio iste aliquid dicta labore perspiciatis pariatur modi. Explicabo quisquam tenetur consectetur at possimus laborum aliquam a magni nulla veritatis accusamus consequuntur dolorem doloremque fugiat earum vero quos sit cumque saepe maiores sint, beatae ab..</p>
          <p>Nemo sed ipsa consequatur facere saepe dolore velit magni autem laborum exercitationem sequi animi vel necessitatibus veritatis, a aliquam voluptas voluptatum vitae qui harum, repellendus. Ut pariatur dignissimos dolore in repudiandae porro quos a delectus doloribus odit, maxime magnam eius soluta dolorum! Recusandae illum perferendis, expedita voluptates</p>
        </div>
        <div class="col-xl-6">
          <h4>Assumenda accusamus reiciendis obcaecati iusto?</h4>
          <p>Delectus provident dolorum quam quae, facere dolore sint modi eius ut enim distinctio. Ratione adipisci fugiat deserunt provident tempora? Reprehenderit, perspiciatis excepturi fugiat neque atque tenetur nesciunt cum perferendis dolor ullam similique iure nulla amet, delectus consequuntur qui quaerat unde quidem assumenda!</p>
          <p>At quis accusamus distinctio enim quaerat laudantium veniam laborum impedit cumque, minima porro. Aliquam laborum, tempore totam temporibus ea obcaecati at aut omnis fugit natus, doloribus, labore pariatur molestias velit veritatis?</p>
          <div class="divider divider-xl divider-dashed"></div>

          <h4>Alias harum culpa earum cum id aspernatur repellendus aliquam?</h4>
          <p>Officia placeat vero ut quis perspiciatis ad doloribus. Voluptatum unde eaque magni ullam, veniam non illo doloremque ducimus voluptatibus quisquam, labore aspernatur ipsam optio sed necessitatibus culpa numquam vel, earum, autem porro laborum reprehenderit nulla. Nam quo, sunt, nesciunt ipsum architecto ipsa cumque minima reprehenderit dignissimos quod rem, amet deserunt, cupiditate dicta!</p>
          <p>Natus omnis quam ad, repellat similique nesciunt, quia molestias obcaecati itaque odio animi eaque distinctio error ipsa. Dolore quod vel possimus minima, maxime aperiam magni omnis nemo ex ipsa doloribus quidem adipisci eius fugit dignissimos praesentium velit quis, et totam, tempore necessitatibus doloremque!</p>
          <div class="divider divider-xl divider-dashed"></div>

          <h4>Optio doloremque suscipit aut accusantium maxime provident cumque?</h4>
          <p>Unde repudiandae repellat in eos, ullam, hic eveniet dolorum dignissimos illum voluptates adipisci animi vel, aspernatur quaerat quos. Accusamus nihil odit quia, eligendi molestiae necessitatibus blanditiis beatae delectus nulla quidem. Blanditiis molestias harum iste ad iure corporis culpa ratione nulla est similique incidunt nisi tempore ea dignissimos, laudantium, sequi deleniti porro veritatis. Maiores nihil, dignissimos magnam beatae quae quia natus eligendi et, quos quas. Mollitia laboriosam, magni at minus veniam voluptates ad dolor aliquid quisquam nobis maiores dolorum repudiandae, iste ea alias pariatur consectetur voluptatibus ullam repellat autem tempore necessitatibus explicabo nisi.</p>
        </div>
      </div>
    </div>
  </article>

  </section>
  
  <section class="chapter">

  <article class="article article-dark">
    
    <div id="about" class="container-fluid with-maxwidth">
      <div class="row">
        <div class="col-xl-6">
          <div class="box box-transparent">
            <div class="box-body padding-lg-h">
              <h4>{{ "GET IN TOUCH" | translate }}</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur necessitatibus ea possimus est quis cumque vel saepe. Eum, quas, ducimus.</p>
              <div class="divider divider-solid"></div>
              <p>123 Mountain View <br> Santa Clara, C.A. <br> USA</p>
              <div class="divider divider-solid"></div>
              <p>
                <strong>E:</strong> mail@site.com
                <br>
                <strong>P:</strong> +1 234 56789 
                <br> 
                <strong>S:</strong> www.site.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6" style="background-image: url(assets/images/c.jpg); background-position: center">
          <div class="box box-transparent contact-background">
            
          </div>
        </div>
      </div>
    </div>
  </article>

  </section>
  
  <!-- 
  <section class="app-footer" style="padding-top: 14px; padding-bottom: 32px; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0, 0, 0, 0.05);">
    <div class="container-fluid">
      <span class="float-left">
        <span id="stylized" style="font-size: 11px;">Copyright © <a class="brand" style="color: rgba(0, 0, 0, 0.87);" target="_blank" href="https://www.stagend.com">STAGEND AG</a> 2018</span>
      </span>
      <span class="float-right">
        <span style="font-size: 11px;">Built with Love <i style="font-size: 0.875rem;" class="material-icons">favorite_border</i></span>
      </span>
    </div>
  </section>
  
  additional footer if the component won't work-->
   
</section>


  
  
