<section class="container-fluid chapter"> 

  <article class="article" style="padding-top: 20px;">
    <div class="row">
      <div class="col-xl-4" *ngFor="let testimonial of testimonials">
        <div class="testimonial testimonial-alt">
          <img alt="avatar" class="avatar" [src]="testimonial.avatar" />
          <blockquote>
            {{testimonial.content}}
          </blockquote>
          <p class="citation">{{testimonial.name}}, {{testimonial.title}}</p>
        </div>
      </div>
    </div>
  </article>
   
</section>
