
<div *ngIf="editable && editing">
    <div class="form-group">
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'FIRST NAME' | translate }}?" required [(ngModel)]="buyer.firstName" name="first-name">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'LAST NAME' | translate }}?" required [(ngModel)]="buyer.lastName" name="last-name">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'STREET' | translate }}?" required [(ngModel)]="buyer.street" name="street">
        </md-input-container>
        
        <md-input-container>
          <input mdInput gpAutocomplete type="text" placeholder="{{ 'CITY' | translate }}?" required [(ngModel)]="buyer.city" name="city">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'ZIP' | translate }}?" required [(ngModel)]="buyer.zip" name="zip">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'COUNTRY' | translate }}?" required [(ngModel)]="buyer.country" name="country">
        </md-input-container>
        
        <button *ngIf="editable" 
                 md-raised-button 
                 color="accent" 
                 class="btn-lg checkout-page-inline-buyer-data-save-button" 
                 (click)="saveBuyerData()">{{ "SAVE DATA" | translate }}</button>
        
    </div>
</div>   

       
<div *ngIf="!editable || !editing">
  <p><strong>{{ "INVOICE TO:" | translate }}</strong>
    <span *ngIf="!editable" class="gotolink" (click)="goToOrganizerStep()">{{ "EDIT THIS DATA" | translate }}</span>
    <button *ngIf="editable" 
             md-raised-button 
             color="accent" 
             class="btn-lg checkout-page-inline-buyer-data-save-button" 
             (click)="goEdit()">{{ "EDIT THIS DATA" | translate }}</button>
  </p>
  {{buyer.firstName}} {{buyer.lastName}}
  <br> {{buyer.street}}
  <br> {{buyer.zip}} {{buyer.city}}
  <br> {{buyer.country}}
</div>
