<h3>{{ 'SUMMARY' | translate }}</h3>

<div *ngIf="!submitted">
  <invoice [isCheckoutPage]="false"
           (emitPdfUrl)="getInvoicePdfUrl($event)" 
           (emitSubmissionRequest)="onSubmit($event)"  
           [slotId]="slotId"></invoice>
  
  <span class="ml-2">{{ "BY CLICKING HERE I AGREE TO" | translate }} <a href="#">{{ "BANDPAY'S TERMS OF USE" | translate }}</a></span>
</div>
<div *ngIf="submitted">
  <h4>
    {{ "THANK YOU FOR USING BANDPAY. WE WILL SEND YOU SOON ANY NEWS ABOUT YOUR TRANSACTION" | translate }}
  </h4>
  <button md-raised-button color="accent" type="button" class="btn-lg btn-w-lg" (click)="goToPdfUrl()">
      <fa name="file-pdf-o"></fa> {{ "DOWNLOAD PDF" | translate }}
  </button>  
  <button md-raised-button color="accent" class="btn-lg" routerLink="/artist/event/">{{ "SUBMIT ANOTHER EVENT" | translate }}</button>
</div>
