<div class="row">
  <div class="col-8">
    <span class="he6"><h6>Event information</h6></span><span *ngIf="_hasEditLink" class="gotolink" (click)="goToSlotStep()">EDIT THIS DATA</span><br/>
    <strong>General</strong>
    <div class="row">
      <div class="col-3 text-muted">Start time</div>
      <div class="col">{{formattedStartTime}}</div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Type</div>
      <div class="col">{{slot.category}}</div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Duration</div>
      <div class="col">{{formattedDuration}}</div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Address</div>
      <div class="col">
        {{slot.street}}<br> {{slot.zip}} {{slot.city}}<br> {{slot.country}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Number of guests</div>
      <div class="col">{{slot.guestsNumber}}</div>
    </div>

    <strong>Special needs</strong>
    <div class="row">
      <div class="col-3 text-muted">Audio system</div>
      <div class="col">
        <b [ngClass]="{'text-success': !slot.audioSystem, 'text-danger': slot.audioSystem}">
          {{slot.audioSystem ? 'Needed' : 'Not needed'}}
      </b>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Lighting system</div>
      <div class="col">
        <b [ngClass]="{'text-success': !slot.lightingSystem, 'text-danger': slot.lightingSystem}">
        {{slot.lightingSystem ? 'Needed' : 'Not needed'}}
    </b>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Catering</div>
      <div class="col">
        <b [ngClass]="{'text-success': !slot.cateringIncluded, 'text-danger': slot.cateringIncluded}">
        {{cateringCaption}}
    </b>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Accomodation</div>
      <div class="col"> 
        <b [ngClass]="{'text-success': !slot.accomodationIncluded, 'text-danger': slot.accomodationIncluded}">
        {{accomodationCaption}}
    </b>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-muted">Cancellation policy</div>
      <div class="col">
        <div class="box box-transparent">
          <div class="box-body px-2 py-0">
            <div class="badge badge-default">{{slot.policyCaption}}</div>
            <div><small [innerHTML]="slot.policyDescription"></small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
