<div class="container">
<h3>Slots:</h3>

<div class="box box-default">
<div class="box-body">

<div>
	<table>
		
		<tr>
			<th title="ID">ID</th>
			<th title="VENDOR">VENDOR</th>
			<th title="VENDOR">BUYER</th>
        </tr>

	    <tr *ngFor="let slot of slots">
		    <td>{{ slot.id }}</td>
		    <td>{{ slot.vendor }}</td>
		    <td>{{ slot.buyer }}</td>
		        
	    </tr>
	
	</table>
	
</div>


</div>
</div>
</div>