<p>Hi Stagend,</p>
<p>The checkout flow has finished, on the part of the organizer {{buyer_name}} for the event of type {{slot_type}} scheduled for {{slot_date}}.
<p class="text-right">The BandPay Team</p>