<p>Hi {{buyer_name}}.</p>
<p>{{vendor_name}} sent you a payment request. Click the button below to begin the check-out procedure.</p>
<p><a class="btn btn-primary btn-lg" href="{{checkout_url}}" role="button">Pay now</a></p>
<p class="text-right">The BandPay Team</p>
