<p>Hey {{vendor_name}},</p>
<p>The organizer {{buyer_name}} has paid your invoice. Your money is secured, and we will pay you out after 48 hours from the event.</p>
<p class="text-right">The BandPay Team</p>
