<div class="steps-container">
  <button (click)="goToStep(i)" *ngFor="let comp of components; let i = index" [ngClass]="{'btn-info': isActive(comp)}" [innerHTML]="getCaption(comp)"
    class="btn btn-arrow-right btn-lg step-btn"></button>
</div>
