<div #pdf>
  <div class="page-invoice">
    <div class="invoice-wrapper">
      <section class="invoice-container" id="invoice">

        <div class="invoice-inner">
          <vendor [id]="vendorId" [hasEditLink]="!_isCheckoutPage"></vendor>

          <hr>

          <div class="row">
            <buyer [id]="buyerId" [isInlineEditable]="_isCheckoutPage"></buyer>
            
            <transaction-details [slotId]="slotId"></transaction-details>
          </div>

          <div class="divider divider-lg"></div>

          <transaction-table [slotId]="slotId"></transaction-table>

          <slot [id]="slotId" [hasEditLink]="!_isCheckoutPage"></slot>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- On click on this button two events are emitted, one for setting the PDF url, second one for submit -->
<button *ngIf="!_isCheckoutPage"
        md-raised-button 
        color="accent" 
        type="button" 
        class="btn-lg btn-w-lg"
        style="background-color: #66bb6a"
        (emitPdfUrl)="getInvoicePdfUrl($event);" 
        (emitSubmissionRequest)="onSubmissionRequest($event);"
        md-raised-button color="primary" pdfButton [pdfEl]="pdf">
  {{ "FINISH" | translate }}
</button>
      
  
