@import '../bootstrap/variables';
@import 'functions';

// font-size + 2 * padding-y + border-height
// $btn-height: $font-size-lg+2 * $btn-padding-y+.125rem;
$btn-height: $font-size-lg + 2 * $btn-padding-y-lg  + 2 * $btn-border-radius-lg;
$arrow-size: $btn-height / sqrt(2);

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: $btn-padding-x-lg;
    padding-right: $btn-padding-x-lg;
    /*border-radius: 0;*/
    &[disabled] {
        opacity: 1.00;
    }
}

.btn-arrow-right {
    padding-left: $btn-padding-x-lg + $btn-height / 2;
    padding-right: $btn-height / 2 + 0.1875rem;
}

.btn-arrow-left {
    padding-left: $btn-height / 2 + 0.1875rem;
    padding-right: $btn-padding-x-lg + $btn-height / 2;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
    /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    top: 2 * $btn-border-radius-lg;
    /* move it down because of rounded corners */
    width: $arrow-size + $btn-border-radius-lg / 2;
    /* same as height */
    height: $arrow-size + $btn-border-radius-lg / 2;
    /* button_inner_height / sqrt(2) */
    background: inherit;
    /* use parent background */
    border: inherit;
    /* use parent border */
    border-left-color: transparent;
    /* hide left border */
    border-bottom-color: transparent;
    /* hide bottom border */
    border-radius: $btn-border-radius-lg;
    /*border-radius: 0 !important;*/
    //-webkit-border-radius: 0px @border-radius-base 0px 0px;
    //-moz-border-radius: 0px @border-radius-base 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg);
    /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg);
    /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
    /* align the "before" square to the left */
    left: -16px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
    /* align the "after" square to the right */
    right: -16px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
    /* bring arrow pointers to front */
    z-index: 3;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
    /* hide arrow tails background */
    background-color: $page_bg;
}
