<h3>{{ "WHO IS THE ORGANIZER" | translate }}?</h3>

<div class="box box-default">
  <div class="box-body">
    <form (ngSubmit)="onSubmit()" #buyerForm="ngForm">
      <h5>{{ "WHO" | translate }}?</h5>
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="{{ 'FIRST NAME' | translate }}?" type="text" required [(ngModel)]="model.firstName" name="first-name">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="{{ 'LAST NAME' | translate }}?" type="text" required [(ngModel)]="model.lastName" name="last-name">
        </md-input-container>
      </div>
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="{{ 'COMPANY' | translate }}?" type="text" [(ngModel)]="model.company" name="company">
        </md-input-container>
      </div>

      <h5>Contact</h5>
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="{{ 'EMAIL' | translate }}?" type="email" required [(ngModel)]="model.email" name="email">
        </md-input-container>
      </div>
      
      <div class="form-group">
        <md-phone-code style="float: left;" placeholder="Phone" required [(ngModel)]="model.phoneCode" name="phone-code"></md-phone-code>
        <md-input-container style="padding-left: 1rem; padding-top: 0; margin-top: -1rem;">
          <input mdInput type="tel" required [(ngModel)]="model.phone" name="phone">
        </md-input-container>
      </div>

      <h5>{{ 'BILLING INFORMATION' | translate }}</h5>
      <div class="form-group">
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'HOLDER' | translate }}?" required [(ngModel)]="model.holder" name="holder">
        </md-input-container>
      </div>
      
      <div class="form-group">
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'STREET' | translate }}?" required [(ngModel)]="model.street" name="street">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'ZIP' | translate }}?" required [(ngModel)]="model.zip" name="zip">
        </md-input-container>
        
        <md-input-container>
          <input mdInput gpAutocomplete type="text" placeholder="{{ 'CITY' | translate }}?" required [(ngModel)]="model.city" name="city">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'COUNTRY' | translate }}?" required [(ngModel)]="model.country" name="country">
        </md-input-container>
      </div>

      <button md-raised-button color="accent" type="submit" [disabled]="!buyerForm.form.valid">{{ 'NEXT' | translate}}</button>
    </form>
  </div>
</div>
