<h3>{{ 'YOUR INFORMATION' | translate }}</h3>

<div *ngIf="login.loggedIn && !login.anonymous && !editing" class="form-group">
  
  <md-select placeholder="{{ 'CHOOSE ENTERTAINMENT OFFER' | translate }}" [(ngModel)]="profileId" name="profile" (change)="populateModel()">
    <md-option *ngFor="let pf of profiles" [value]="pf.id">{{pf.name}}</md-option>
  </md-select>
  
  <button md-raised-button color="accent" type="button" class="mx-3" (click)="onNew()">{{ 'NEW' | translate }}</button>
</div>

<div *ngIf="!editing && profileId">
  <div class="box box-default">
    <div class="box-body">
      <h4>
        {{model.name}}
        <button md-raised-button color="primary" type="button" class="btn-sm mx-2" (click)="onEdit()">{{ "EDIT" | translate }}</button>
      </h4>

      <h5>{{ 'CONTACT INFORMATION' | translate }}</h5>
      <div class="row">
        <div class="col-2 text-muted">{{ 'EMAIL' | translate }}</div>
        <div class="col">{{model.email}}</div>
      </div>
      <div class="row">
        <div class="col-2 text-muted">{{ "PHONE NUMBER" | translate }}</div>
        <div class="col">+{{model.phoneCode}} {{model.phone}}</div>
      </div>

      <h5>{{ 'BANKING INFORMATION' | translate }}</h5>
      <div *ngIf="model.bankingType == 'paypal'">
        <div class="row">
          <div class="col-2 text-muted">{{ 'TYPE' | translate }}</div>
          <div class="col">
            <fa name="paypal"></fa> {{ 'PAYPAL' | translate }}</div>
        </div>
        <div class="row">
          <div class="col-2 text-muted">{{ 'EMAIL' | translate }}</div>
          <div class="col">{{model.banking.email}}</div>
        </div>
      </div>
      <div *ngIf="model.bankingType == 'bank'">
        <div class="row">
          <div class="col-2 text-muted">{{ 'TYPE' | translate }}</div>
          <div class="col">
            <fa name="bank"></fa>{{ 'BANK ACCOUNT' | translate}}</div>
        </div>
        <div class="row">
          <div class="col-2 text-muted">{{ 'BENEFICIARY' | translate }}</div>
          <div class="col">{{model.banking.beneficiary}}</div>
        </div>
        <div class="row">
          <div class="col-2 text-muted">{{ 'ADDRESS' | translate }}</div>
          <div class="col">
            {{model.banking.street}}<br> {{model.banking.zip}} {{model.banking.city}}<br> {{model.banking.country}}
          </div>
        </div>
        <div class="row">
          <div class="col-2 text-muted">IBAN</div>
          <div class="col">{{model.banking.iban}}</div>
        </div>
      </div>
    </div>
  </div>
  <button md-raised-button color="accent" type="button" class="my-2" (click)="onSubmit()">{{ 'NEXT' | translate }}</button>
</div>
<div *ngIf="editing">
  <div class="box box-default">
    <div class="box-body">
      <form (ngSubmit)="onSave()" #profileForm="ngForm">
        <div class="form-group">
          <md-input-container class="full-width">
            <input mdInput type="text" placeholder="{{ 'ENTERTAINER NAME' | translate }}" required [(ngModel)]="model.name" name="profile-name">
          </md-input-container>
        </div>

        <h5>{{ 'CONTACT INFORMATION' | translate }}</h5>
        <div class="form-group">
          <md-input-container>
            <input mdInput placeholder="{{ 'EMAIL' | translate }}" type="email" required [(ngModel)]="model.email" name="email">
          </md-input-container>
        </div>
        <div class="form-group">
          <md-phone-code style="float: left;" placeholder="Phone?" name="phone-code" required [(ngModel)]="model.phoneCode"></md-phone-code>
          <md-input-container style="padding-left: 1rem; padding-top: 0; margin-top: -1rem;">
            <input mdInput type="tel" class="form-control" required [(ngModel)]="model.phone" name="phone">
          </md-input-container> 
        </div>
        
        <h5>{{ 'BANKING INFORMATION' | translate }}</h5>
        <div class="form-group">
          <md-select placeholder="{{ 'TYPE' | translate }}" [(ngModel)]="model.bankingType" name="banking-type">
            <md-option *ngFor="let bt of model.bankingTypes" [value]="bt.value">{{bt.caption}}</md-option>
          </md-select>
        </div>
        <div *ngIf="model.bankingType == 'paypal'">
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="{{ 'EMAIL' | translate }}" type="email" required [(ngModel)]="model.banking.email" name="paypal-email">
            </md-input-container>
          </div>
        </div>
        <div *ngIf="model.bankingType == 'bank'">
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="{{ 'BENEFICIARY' | translate }}" type="text" required [(ngModel)]="model.banking.beneficiary" name="beneficiary">
            </md-input-container>
          </div>

          <div class="form-group">
            <md-input-container>
              <input gpAutocomplete mdInput placeholder="{{ 'ADDRESS' | translate }}" type="text" required [value]="model.address" [options]="{types:['address']}"
                (placeChanged)="populateAddress($event)">
            </md-input-container>
          </div>
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="{{ 'IBAN' | translate }}" type="text" required [(ngModel)]="model.banking.iban" name="iban">
            </md-input-container>
          </div>
        </div>

        <button md-raised-button color="accent" *ngIf="login.loggedIn" type="submit" [disabled]="!profileForm.form.valid">{{ 'SAVE' | translate }}</button>
        <button md-raised-button color="warn" *ngIf="login.loggedIn" type="button" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
      </form>
    </div>
  </div>
  <button md-raised-button color="accent" type="button" (click)="onSave()" [disabled]="!profileForm.form.valid">{{ 'NEXT' | translate }}</button>
</div>

<!-- 
Profile Id: {{profileId}}
<br><br> Model: {{debug | json}}
<br><br> Login: {{debugLogin}}
-->