<section class="app-header">
  <div class="app-header-inner"
     [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-dark': AppConfig.colorOption === '31',
                 'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

    <div class="hidden-lg-up float-left">
      <button md-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
        <i class="material-icons">menu</i>
      </button>
    </div>


    <div class="brand hidden-md-down">
      <h2><a [routerLink]="['/']">{{AppConfig.brand}}</a></h2>
    </div>

    <div class="top-nav-left hidden-md-down language-picker">
      <ul class="list-unstyled list-inline">
        
        <li class="list-inline-item">
          <button md-button class="md-button header-btn" [mdMenuTriggerFor]="appNotification">
            {{ selectedLanguage }}
          </button>
          <md-menu #appNotification="mdMenu" x-position="after" y-position="below" overlapTrigger="false">
            <md-list dense>
              
              <md-list-item (click)="onLanguageClicked('en')">
                <h3 md-line>English</h3>
              </md-list-item>
              
              <md-list-item (click)="onLanguageClicked('de')">
                <h3 md-line>Deutsch</h3>
              </md-list-item>
              
            </md-list>
          </md-menu>
        </li>
        
        
      </ul>
    </div>

    <div class="top-nav-right">
    
    
      <ul class="list-unstyled float-right">
        
        <!-- <li><button md-button class="md-button header-btn hidden-lg-up" myOpenSearchOverlay><i class="material-icons">search</i></button></li> -->
        <!-- <li><button md-button class="md-button header-btn"><i class="material-icons">more_vert</i></button></li> -->
        <stg-login></stg-login>
        
        
        
        
      </ul>
    </div>

  </div>
</section>
