<h3>{{ 'SUBMIT YOUR EVENT' | translate }}</h3>

<div class="box box-default">
  <div class="box-body">
    <form (ngSubmit)="onSubmit()" #slotForm="ngForm">
      <h5>{{ 'EVENT INFORMATION' | translate }}</h5>
      
      <h6>{{ 'WHERE' | translate}}?</h6>
      <div class="form-group">
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'STREET' | translate }}?" required [(ngModel)]="model.street" name="street">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'ZIP' | translate }}?" required [(ngModel)]="model.zip" name="zip">
        </md-input-container>
        
        <md-input-container>
          <input mdInput gpAutocomplete type="text" placeholder="{{ 'CITY' | translate }}?" required [(ngModel)]="model.city" name="city">
        </md-input-container>
        
        <md-input-container>
          <input mdInput type="text" placeholder="{{ 'COUNTRY' | translate }}?" required [(ngModel)]="model.country" name="country">
        </md-input-container>
      </div>

      <div class="form-group">
        <md-input-container>
          <input mdInput [mdDatepicker]="datepicker" placeholder="{{ 'WHEN' | translate }}?" (focus)="datepicker.open()" required [(ngModel)]="model.startTime" name="date">
          <button mdSuffix [mdDatepickerToggle]="datepicker"></button>
        </md-input-container>
        <md-datepicker #datepicker></md-datepicker>
        <md-timepicker name="time" [(ngModel)]="model.startTime" class="ml-4"></md-timepicker>
      </div>

      <div class="form-group">
        <md-select placeholder="{{ 'WHAT KIND OF EVENT' | translate }}?" required [(ngModel)]="model.category" name="category">
          <md-option *ngFor="let cat of model.categories" [value]="cat">{{cat}}</md-option>
        </md-select>
      </div>

      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="How long?" type="number" min="0" max="9" required [(ngModel)]="model.durationHours" name="hours">
        </md-input-container>
        <span class="mx-2">{{ "HOURS AND" | translate}}</span>
        <md-input-container>
          <!-- Block the input if the duration exceeds 9 hours -->
          <input mdInput type="number" min="0" required [(ngModel)]="model.durationMinutes" name="minutes" [readonly]="model.duration >= model.maxDuration">
        </md-input-container>
        <span class="mx-2">minutes.</span>
      </div>

      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="How many guests?" type="number" min="1" [(ngModel)]="model.guestsNumber" name="guests-number">
        </md-input-container>
      </div>

      <h5>{{ 'SPECIAL NEEDS' | translate }}</h5>
      <div class="form-group">
        <md-checkbox [(ngModel)]="model.audioSystem" name="audio-system">{{ "I WILL BRING THE AUDIO SYSTEM" | translate }}</md-checkbox>
      </div>

      <div class="form-group">
        <md-checkbox [(ngModel)]="model.lightingSystem" name="lighting-system">{{ "I WILL BRING THE LIGHTING SYSTEM" | translate }}</md-checkbox>
      </div>

      <div class="form-group">
        <md-checkbox #isCateringIncludedCheckbox (change)="onCateringChanged($event)">{{ "I NEED CATERING" | translate }}</md-checkbox>
        <div *ngIf="isCateringIncludedCheckbox.checked">
          <md-input-container *ngIf="isCateringIncludedCheckbox.checked">
            <input mdInput placeholder="How many people?" type="number" min="1" [(ngModel)]="model.cateringIncluded" name="catering-included">
          </md-input-container>
        </div>
      </div>
  
      <div class="form-group">
        <md-checkbox #isAccomodationIncludedCheckbox (change)="onAccomodationChanged($event)">{{ "I NEED CATERING" | translate }}</md-checkbox>
        <div *ngIf="isAccomodationIncludedCheckbox.checked">
          <md-input-container *ngIf="isAccomodationIncludedCheckbox.checked">
            <input mdInput placeholder="How many people?" type="number" min="1" [(ngModel)]="model.accomodationIncluded" name="accomodation-included">
          </md-input-container>
        </div>
      </div>

      <h5>{{ "PAYMENT INFORMATION" | translate }}</h5>
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="{{ 'ORGANIZERS PRICE' | translate }}" type="number" min="0" required [(ngModel)]="model.transaction.amount" name="amount">
          <md-select mdSuffix [(ngModel)]="model.transaction.currency" name="currency">
            <md-option *ngFor="let cur of model.transaction.currencies" [value]="cur.value">{{cur.caption}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <strong class="mr-2">{{ "CANCELLATION POLICY" | translate }}</strong>
      <md-radio-group [(ngModel)]="model.cancellationPolicy" name="cancellation-policy" class="md-radio-group-spacing">
        <md-radio-button *ngFor="let policy of model.policies" [value]="policy.value">{{policy.caption}}</md-radio-button>
      </md-radio-group>
      <div class="box box-transparent">
        <div class="box-body"><small [innerHTML]="model.policyDescription"></small></div>
      </div>

      <button md-raised-button color="accent" type="submit" [disabled]="!slotForm.form.valid">{{ nextButtonText }}</button>
    </form>
  </div>
</div>
