<div [ngSwitch]="status">
	<h4 *ngSwitchCase="'success'" class="text-success">Payment was successful!</h4>
	<div *ngSwitchCase="'error'">
		<h4 class="text-danger">Oops... an error has occurred.</h4>
	</div>
	<div *ngSwitchDefault>
		<h4 class="text-danger">Oops... an error has occurred.</h4>
	</div>
</div>
