<md-input-container>
  <input #hoursInput mdInput [(ngModel)]="hours" name="hours" type="number">
</md-input-container>
<span class="mx-2">:</span>
<md-input-container>
  <input #minutesInput mdInput [(ngModel)]="minutes" name="minutes" type="number">
</md-input-container>
<md-icon>schedule</md-icon>
