<link rel='stylesheet' href='https://gigpay.ch/web/invoice-pdf-css/styles.css'>
<link rel='stylesheet' href='https://gigpay.ch/web/invoice-pdf-css/bootstrap.css'>


  <div _ngcontent-c4="" class="page-invoice">
    <div _ngcontent-c4="" class="invoice-wrapper">
      <section _ngcontent-c4="" class="invoice-container" id="invoice">

        <div _ngcontent-c4="" class="invoice-inner">
          <vendor _ngcontent-c4="" _nghost-c5=""><div _ngcontent-c5="" class="row">
  <div _ngcontent-c5="" class="col-6">
    <h6 _ngcontent-c5="" class="title">Invoice</h6>
  </div>
  <div _ngcontent-c5="" class="col-6 text-right">
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><!---->
      <fa _ngcontent-c5="" name="paypal" size="lg" ng-reflect-name="paypal" ng-reflect-size="lg">
    <i aria-hidden="true" class="fa fa-paypal fa-lg" ng-reflect-klass="fa fa-paypal" ng-reflect-ng-class="fa-lg"></i>
  </fa> 
    
    <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
  </div>
</div>
</vendor>

          <hr _ngcontent-c4="">

          <div _ngcontent-c4="" class="row">
            <buyer _ngcontent-c4="" _nghost-c6="" class="col-6"><p _ngcontent-c6=""><strong _ngcontent-c6="">Invoice To</strong></p>
 
<br _ngcontent-c6=""> 
<br _ngcontent-c6="">  
<br _ngcontent-c6=""> 
</buyer>

            <transaction-details _ngcontent-c4="" _nghost-c7="" class="col-6"><div _ngcontent-c7="" class="text-right">
  <p _ngcontent-c7=""><strong _ngcontent-c7="">Details:</strong></p>
  <strong _ngcontent-c7="">Date:</strong> <br _ngcontent-c7="">
  <strong _ngcontent-c7="">ID:</strong>  <br _ngcontent-c7="">
  <strong _ngcontent-c7="">Amount Due:</strong>  <br _ngcontent-c7="">
  <strong _ngcontent-c7="">Payment Due:</strong> 
</div>
</transaction-details>
          </div>

          <div _ngcontent-c4="" class="divider divider-lg"></div>

          <transaction-table _ngcontent-c4="" _nghost-c8="">

<table _ngcontent-c8="" class="table table-bordered table-striped">
  <thead _ngcontent-c8="">
    <tr _ngcontent-c8="" class="invoice-table-header-row">
      <th _ngcontent-c8="" class="text-center">#</th>
      <th _ngcontent-c8="">Description</th>
      <th _ngcontent-c8="" class="text-center">Amount</th>
    </tr>
  </thead>
  <tbody _ngcontent-c8="">
    <tr _ngcontent-c8="">
      <td _ngcontent-c8="" class="text-center">1</td>
      <td _ngcontent-c8="">Cachet</td>
      <td _ngcontent-c8="" class="text-center"></td>
    </tr>
    <tr _ngcontent-c8="">
      <td _ngcontent-c8="" class="text-center">2</td>
      <td _ngcontent-c8="">BandPay fee (3.9%)</td>
      <td _ngcontent-c8="" class="text-center"></td>
    </tr>
  </tbody>
</table>

<div _ngcontent-c8="" class="row justify-content-end">
  <div _ngcontent-c8="" class="col-4 invoice-sum text-right">
    <ul _ngcontent-c8="" class="list-unstyled">
      <li _ngcontent-c8=""><strong _ngcontent-c8="">Total: </strong></li>
    </ul>
  </div>
</div>
</transaction-table>

          <slot _ngcontent-c4="" _nghost-c9=""><div _ngcontent-c9="" class="row">
  <div _ngcontent-c9="" class="col-8">
    <h6 _ngcontent-c9="">Event information</h6>
    <strong _ngcontent-c9="">General</strong>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Start time</div>
      <div _ngcontent-c9="" class="col">sabato, 16 dicembre 2017 12:59</div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Type</div>
      <div _ngcontent-c9="" class="col"></div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Duration</div>
      <div _ngcontent-c9="" class="col">null hours and null minutes</div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Address</div>
      <div _ngcontent-c9="" class="col">
        <br _ngcontent-c9="">  <br _ngcontent-c9=""> 
      </div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Number of guests</div>
      <div _ngcontent-c9="" class="col"></div>
    </div>

    <strong _ngcontent-c9="">Special needs</strong>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Audio system</div>
      <div _ngcontent-c9="" class="col">
        <b _ngcontent-c9="" class="text-danger" ng-reflect-ng-class="[object Object]">
          Needed
      </b>
      </div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Lighting system</div>
      <div _ngcontent-c9="" class="col">
        <b _ngcontent-c9="" class="text-danger" ng-reflect-ng-class="[object Object]">
        Needed
    </b>
      </div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Catering</div>
      <div _ngcontent-c9="" class="col">
        <b _ngcontent-c9="" class="text-danger" ng-reflect-ng-class="[object Object]">
        Not needed
    </b>
      </div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Accomodation</div>
      <div _ngcontent-c9="" class="col">
        <b _ngcontent-c9="" class="text-danger" ng-reflect-ng-class="[object Object]">
        Not needed
    </b>
      </div>
    </div>
    <div _ngcontent-c9="" class="row">
      <div _ngcontent-c9="" class="col-3 text-muted">Cancellation policy</div>
      <div _ngcontent-c9="" class="col">
        <div _ngcontent-c9="" class="box box-transparent">
          <div _ngcontent-c9="" class="box-body px-2 py-0">
            <div _ngcontent-c9="" class="badge badge-default">Standard</div>
            <div _ngcontent-c9=""><small _ngcontent-c9="">Full refund up until 30 hours prior to event. 50% refund from the 30th hour prior the event up to the event moment. Except fees.<br>Example: if the organizer cancels the event 30 hours prior to the event, he gets back 100% of the cachet. If he cancels later, the artist takes 50% of the cachet.</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</slot>
        </div>
      </section>
    </div>
  </div>



