<div *ngIf="!loggedIn">
	<button md-button class="btn-lg" (click)="onOpenDialog()">{{ "SIGN IN" | translate }}</button>
</div>
<div *ngIf="loggedIn">
	<!--Safe URLs require for some reason to use [property]=bind syntax.-->
	<img *ngIf="model.imageUrl" [src]="model.imageUrl" id="user-img" class="img-thumbnail rounded" alt="profile">
	<h6 class="d-inline mx-1">{{model.firstName}} {{model.lastName}}</h6>
	<button md-raised-button color="warn" (click)="onLogout()">
		<fa name="sign-out"></fa>
		{{ "SIGN OUT" | translate}}
	</button>
</div>
