<div md-dialog-title>
  <img class="img-fluid" src="../../../assets/bandpay/images/stg-logo.png" alt="Stagend.com">
  <button md-icon-button md-dialog-close class="float-right"><md-icon>close</md-icon></button>
</div>
<form (ngSubmit)="onLogin()" #stgLogin="ngForm">
  <md-dialog-content>
    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Email" type="email" [(ngModel)]="model.email" name="email">
      </md-input-container>
    </div>

    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Password" type="password" [(ngModel)]="model.password" name="password">
      </md-input-container>
    </div>

    <div class="callout callout-danger" *ngIf="authFailed">Incorrect email or password!</div>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-raised-button color="primary" type="submit">
      <img src="../../../assets/bandpay/images/stg-login-icon.png"> Sign in with Stagend
    </button>
    <small class="text-muted ml-3">No account yet? <a href="https://t1.stagend.ch/apply">Sign up!</a></small>
  </md-dialog-actions>
</form>
