<div class="container">
  <steps showIndexes>
    
    <step component="SlotFormComponent">{{ 'EVENT INFORMATION' | translate }}</step>
    <step component="BuyerFormComponent">{{ 'ORGANIZER INFORMATION' | translate }}</step>
    <step component="ProfileFormComponent">{{ 'ABOUT YOU' | translate }}</step>
    <step component="SummaryComponent">{{ 'SUMMARY' | translate }}</step>
    
  </steps>
  <router-outlet></router-outlet>
</div>
