<!-- <p>To be payed not later than <strong>{{transaction.paymentDue?.format('LL')}}</strong>.</p> -->

<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-color-dark invoice-table-header-row">
      <th style="background-color: #333C44; color: white;">#</th>
      <th style="background-color: #333C44; color: white;">Description</th>
      <th style="background-color: #333C44; color: white;">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">1</td>
      <td>Cachet</td>
      <td class="text-center">{{transaction.formattedCachet}}</td>
    </tr>
    <tr>
      <td class="text-center">2</td>
      <td>BandPay fee ({{feePercent}}%)</td>
      <td class="text-center">{{transaction.formattedFee}}</td>
    </tr>
  </tbody>
</table>

<div class="row justify-content-end">
  <div class="col-4 invoice-sum text-right">
    <ul class="list-unstyled">
      <li><strong>Total: {{transaction.formattedAmount}}</strong></li>
    </ul>
  </div>
</div>
