<div class="text-right">
  <p><strong>Details:</strong></p>
  <strong>Date:</strong> {{transaction.created?.format('ll')}}<br>
  <strong>ID:</strong> {{slotId}} <br>
  <strong>Amount Due:</strong> {{transaction.formattedAmount}} <br>
  <strong>Payment Due:</strong> {{transaction.paymentDue?.format('ll')}}
</div>
