<section class="app-footer">
  <div class="container-fluid">
    <span class="float-left">
      <span>Copyright © <a class="brand" target="_blank" href="https://www.stagend.com">{{AppConfig.corporate}}</a> {{AppConfig.year}}</span>
    </span>
    
    <span class="centered-tos">
      <span><a class="brand" target="_blank" href="https://gigpay.ch/terms">Terms of service</a> {{AppConfig.year}}</span>
    </span>
    
    <span class="float-right">
      <span>Built with Love <i class="material-icons">favorite_border</i></span>
    </span>
  </div>
</section>
